#navbar{
    padding: 20px;
    border-bottom: 1px solid rgb(160, 160, 160);
.header-left{
    img{
        width: 30%;
        cursor: pointer;
    }
}
.header-center{
    position: relative;
    input{
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button{
        position: absolute;
        right: 5px;
        top: 5px;
        border: none;
        background-color: inherit;
    }
    &:hover{
        button{
            svg{
                color: yellowgreen;
            }
        }
    }
}
.header-right{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 12px;
    }
    .z-indx{
    position: relative;
    z-index: +1;
p{
 position: absolute;   
background-color: yellowgreen;
border-radius: 50%;
width: 20px;
font-size: small;
text-align: center;
bottom: 0;
right: 0;
color: white;
}
}
&:hover{
        svg{
            color: yellowgreen;
        }
}
}
}
#lists{
        .lists-category{
            display: none;
            li{
                list-style-type: none;
                list-style: none;
                border: 1px solid;
            }
        }
    &:hover{
        .lists-category{
            display: block;
        }   
    }
    .col-list{
        padding: 0;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style-type: none;
            }    
                a{
                    text-decoration: none;
                }
            
        }
    }
}